.rightSection {
  max-width: 600px;
  width: 100%;
}

.fillings {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 532px);
  overflow-y: auto;
}

.infoBlock {
  height: calc(100vh - 532px);
  min-height: 80px;
  border: 2px dashed #2f2f37;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 532px;
}

.result {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

.total {
  display: flex;
  gap: 8px;
  align-items: center;
}

.orderList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
