.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}
